<div class="container">
	<button routerLink="/" type="button" class="btn btn-success">Back Home</button>
	<!-- Default form login -->
	<form class="text-center border border-light p-5"  [formGroup]="phonebookForm">
		<p class="h4 mb-4">Selected Contact Details</p>


		<!-- Input fields  -->
		<input type="text" readonly class="form-control mb-4" formControlName="id" placeholder="id">
		<input type="text" class="form-control mb-4" formControlName="name" placeholder="Name">
		<input type="number" class="form-control mb-4" formControlName="phone" placeholder="Phone">
		<input type="email" class="form-control mb-4" formControlName="email" placeholder="Email">
	
		<!-- Controller  buttons for update and delete contact -->
		<button mdbBtn color="warning" block="true" class="my-4" type="Update" (click)="updateContact()">Update Contact</button>
		<button mdbBtn color="danger" block="true" class="my-4" type="Delete" (click)="deteteContact()">Delete Contact</button>
	</form>
</div>
