
<link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>

<style>
  body {
   font-family: 'Kalam';font-size: 22px;
  }
  </style>
<div class="row">
  <hr>
  <div class="col-12">
    <div class="col-12"><button routerLink="/phonebook-entry" type="button" class="btn btn-success">Add New Contact</button></div>
    <div style="text-align-last: center;" class="col-12"><h1>Contact List</h1></div>

  </div>


</div>

<div >

</div>

<!--Table-->
<table class="table table-info table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let phones of phone"[class.selected]="phones === selected_contact"
      (click)="onSelect(phones)" >

        <td>{{phones.name}}</td>
        <td>{{phones.phone}}</td>
        <td> {{phones.email}}</td>

      </tr>
     
    </tbody>
    <!--Table body-->
  
  
  </table>
  <!--Tae-->




